@import '../sass/mixins.scss';

.duree {
    @include style-box-charts;
    background-color: #FF0000;
    color: white;

    .title {
        font-size: 15px;
        padding: 10px 20px;
    }

    .custom-tooltip {
        width: 39px;
        height: 25px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 8px;
        font-weight: bold;
        color: #000000;
    }
    
}