.App {
    display: grid;
    grid-template-columns: 117px 1fr;
    /* 117px pour la colonne de gauche (Footer), 1fr pour le reste du contenu */
    grid-template-rows: auto 1fr;
    /* Auto pour le header, 1fr pour le contenu restant */
    height: 100vh;
    /* Prendre toute la hauteur de la vue */

    .Header {
        grid-column: 1 / -1;
        /* Prendre toute la largeur */
        grid-row: 1;
    }

    .Footer {
        grid-column: 1;
        grid-row: 2;
    }

    .container {
        grid-column: 2;
        grid-row: 2;
        margin-top: 40px;
        margin-left: 60px;

        h1 {
            margin: 0;

            .prenom {
                color: #FF0101;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: 3fr 1fr;
            /* 75% pour la colonne principale, 25% pour la sidebar */
            grid-template-rows: auto 1fr;
            /* Deux lignes : une pour le contenu principal, une pour les éléments de la ligne du bas */
            grid-template-areas:
                "activity nutiments"
                "bottom-row nutiments";
            /* Définir les zones de grille */
            gap: 10px;

            .nutiments {
                grid-area: nutiments;
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                /* Diviser en quatre lignes égales */
                gap: 10px;
            }

            .bottom-row {
                grid-area: bottom-row;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                /* Trois colonnes égales pour la ligne du bas */
                gap: 10px;
            }
            .item {
                text-align: center;
            }

            // .activity,
            // .nutiments,
            // .item {
            //     border-radius: 5px;
            //     font-size: 15px;
            // }
        }
    }
}