@import '../sass/mixins.scss';

.Footer {
    @include style-header-footer;
    width: 117px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Sport {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: auto; /* Pousser le bloc d'images vers le centre verticalement */
        margin-bottom: auto; /* Assurer qu'il reste centré avec l'espace restant */
    }

    p {
        transform: rotate(-180deg); /* Pivoter le texte de 90 degrés dans le sens anti-horaire */
        writing-mode: vertical-rl; /* Mode d'écriture vertical */
        margin-top: auto; /* Pousser le paragraphe vers le bas */
        text-align: center; /* Centrer le texte horizontalement */
        margin-bottom: 0; /* Assurer qu'il n'y a pas de marge supplémentaire en bas du texte */
    }
}
