@mixin style-header-footer {
    background-color: $background;
    color: white;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0; 
    }
}

@mixin style-box-charts {
    border-radius: 5px;
    font-size: 15px;
}

@mixin style-nutriments {
    display: flex;
    align-items: center;

    img {
        margin: 32px;
    }
}

@mixin txt-container-nutriments {
    
    .text-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    p {
        margin: 0;
    }

    .valeurs {
        font-weight: bold;
    }
}