.notfound-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 139px;
    padding: 139px;
    color: #FF0101;

    .notfound-title {
        font-size: 288px;
        margin: 0;
        padding: 0;
    }

    p {
        color: black;
    }

    .back-link {
        font-size: 1rem;
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
      
      
      &:hover {
        color: #0056b3;
      }
    }
}