@import '../sass/mixins.scss';

.perf {
    @include style-box-charts;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .recharts-polar-angle-axis .recharts-cartesian-axis-tick-value {
        font-size: 12px;
    }
}