@import '../sass/mixins.scss';

.score {
    background-color: #FBFBFB;
    @include style-box-charts;

    .title {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        padding: 20px;
    }

    .score-text {
        font-size: 26px;
        font-weight: 700;
        fill: #282D30;
    }

    .score-subtext {
        font-size: 14px;
        font-weight: 500;
        fill: #74798C;
    }
}

