@import '../sass/mixins.scss';

.score {
    background-color: #FBFBFB;
    position: relative;
    @include style-box-charts;

    .title {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        // padding: 20px;
        position: absolute;
        top: 10px;
        left: 25%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .score-text {
        font-size: 26px;
        font-weight: 700;
        fill: #282D30;
    }

    .score-subtext {
        font-size: 14px;
        font-weight: 500;
        fill: #74798C;
    }
}

